<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MENU CRONOMETRAGEM</title>
</head>
<body>
    <h1>MENU CADASTRO CRONOMETRAGEM</h1>
<br>
<br>
    <h2>
        <a href="{% url 'cadastrar_piloto' %}">Cadastrar Piloto</a>
    </h2>
    <h2>
        <a href="{% url 'exibir_pilotos' %}">Exibir Pilotos</a>
    </h2>
    <h2>
        <a href="{% url 'registrar_largada' %}">Registrar Largada</a>
    </h2>
    <h2>
        <a href="{% url 'registrar_chegada' %}">Registrar Chegada</a>
    </h2>
 
</body>
</html>