<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MENU RESULTADOS TOMADA DE TEMPO</title>
</head>
<body>
    <h1>MENU RESULTADOS TOMADA DE TEMPO</h1>
<br>
<br>
    <h2>
        <a href="{% url 'resultado_geral_tomada_tempo' %}">Resultado Geral Tomada de tempo</a>
    </h2>
    <h2>
        <a href="{% url 'resultado_tomada_tempo_por_categorias' %}">Resultado Tomada de tempo por categoria</a>
    </h2>
    <h2>
        <a href="{% url 'resultado_tomada_tempo_por_piloto' %}">Resultado Tomada de tempo por piloto</a>
    </h2>
    
</body>
</html>