<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MENU RESULTADOS ENDURO </title>
</head>
<body>
    <h1>MENU RESULTADOS ENDURO</h1>
<br>
<br>
    <h2>
        <a href="{% url 'resultados' %}">Resultado Geral Enduro</a>
    </h2>
    <h2>
        <a href="{% url 'resultados_por_categorias' %}">Resultados por Categoria Enduro</a>
    </h2>
    <h2>
        <a href="{% url 'resultado_piloto' %}">Resultados por piloto</a>
    </h2>
    </body>
</html>