<head>
  <meta http-equiv="refresh" content="60">
</head>
<h1>ENDURO FIM Resultado Geral</h1>
<table>
  <thead>
    <tr>
      <th>Classificação</th>
      <th>Piloto</th>
      <th>Tempo Total</th>
    </tr>
  </thead>
  <tbody>
    {% for resultado in resultados_gerais %}
      <tr>
        <td>{{ resultado.position }}</td>
        <td>{{ resultado.piloto.nome }} (#{{ resultado.numero_piloto }})</td>
        <td>{{ resultado.tempo_total }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
