<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="60">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados por Categoria</title>
</head>
<body>
    <h1>Resultados por Categoria </h1>
    <h2>Categoria 450cc Especial</h2>
    <table>
        <thead>
            <tr>
                <th>Posição</th>
                <th>Nome</th>
                <th>Número</th>
                <th>Melhor tempo</th>
            </tr>
        </thead>
        <tbody>
            {% for resultado in resultados_por_categoria_450cc_especial %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ resultado.nome }}</td>
                <td>{{ resultado.numero_piloto }}</td>
                <td>{{ resultado.tempo_total }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Categoria 250cc Especial</h2>
    <table>
        <thead>
            <tr>
                <th>Posição</th>
                <th>Nome</th>
                <th>Número</th>
                <th>Melhor tempo</th>
            </tr>
        </thead>
        <tbody>
            {% for resultado in resultados_por_categoria_250cc_especial %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ resultado.nome }}</td>
                <td>{{ resultado.numero_piloto }}</td>
                <td>{{ resultado.tempo_total }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Categoria 230cc Nacional</h2>
    <table>
        <thead>
            <tr>
                <th>Posição</th>
                <th>Nome</th>
                <th>Número</th>
                <th>Melhor tempo</th>
            </tr>
        </thead>
        <tbody>
            {% for resultado in resultados_por_categoria_230_nacional %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ resultado.nome }}</td>
                <td>{{ resultado.numero_piloto }}</td>
                <td>{{ resultado.tempo_total }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Categoria Força Livre</h2>
    <table>
        <thead>
            <tr>
                <th>Posição</th>
                <th>Nome</th>
                <th>Número</th>
                <th>Melhor tempo</th>
            </tr>
        </thead>
        <tbody>
            {% for resultado in resultados_por_categoria_força_livre %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ resultado.nome }}</td>
                <td>{{ resultado.numero_piloto }}</td>
                <td>{{ resultado.tempo_total }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <h2>Categoria Street</h2>
    <table>
        <thead>
            <tr>
                <th>Posição</th>
                <th>Nome</th>
                <th>Número</th>
                <th>Melhor tempo</th>
            </tr>
        </thead>
        <tbody>
            {% for resultado in resultados_por_categoria_street %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ resultado.nome }}</td>
                <td>{{ resultado.numero_piloto }}</td>
                <td>{{ resultado.tempo_total }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
