<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="refresh" content="60">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado_por_categorias</title>
</head>
<body>
  <h1>ENDURO Resultado por categorias</h1>
</table>

{% for categoria, resultados_categoria in resultados_por_categoria.items %}
  <h2>Categoria {{ categoria }}</h2>
  <table>
    <thead>
      <tr>
        <th>Posição</th>
        <th>Piloto</th>
        <th>Tempo Total</th>
      </tr>
    </thead>
    <tbody>
      {% for resultado in resultados_categoria %}
        <tr>
          <td>{{ resultado.position }}</td>
          <td>{{ resultado.nome }} (#{{ resultado.numero_piloto }})</td>
          <td>{{ resultado.tempo_total }}</td>
        </tr>
      {% endfor %}
    </tbody>
</table>
{% endfor %}
</body>
</html>